*{
    margin: 0;
    padding: 0;
}
body{
    font-style: italic;
    font-size: 30px;

}
.enquiry{
    text-align: left;
    padding: 10px;
    z-index: -1;
    font-weight: 700;
    margin-right: 20px;
}
.enquiry li{
    display: inline-block;
    font-size: 30px;    
    padding: 10px;
}
header{
    background-image:url('../Assets/icecream/bg.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.274);
}

.intro{
    position: absolute;
    left: 17%;
    top: 26%;
}
.intro span{
    color: rgba(206, 81, 32, 0.938);
    z-index: -1;
    font-weight: 900;
        
}
.intro button{
    padding: 25px;
    border-radius: 11px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    font-style: italic;
    margin: 30px 60px;
    border: 1px solid wheat;
    color: white;
    background-color:  rgba(241, 79, 29, 0.966);
}
.intro button:hover{
    background-color: rgb(238, 111, 73);
    color:black;
    border: 1px solid white;
}
.circle{
    display: flex;
    position: relative;
}
.cir1{
    position: absolute;
    bottom: 0;
    left: 20%;
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.61);
}
.cir2{
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(0, 255, 42, 0.61);
}
.cir3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:rgba(0, 0, 255, 0.575);
}
.circle2{
    position: relative;
    display: flex;
    flex-direction: row;
}
.cir4{
    position: absolute;
    top: 0;
    right: 20%;
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.329);
}
.cir5{
    position: absolute;
    top: 0;
    right: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(0, 255, 42, 0.315);
}
.cir6{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:rgba(0, 0, 255, 0.288);
}

